html {
    height: 101%;
}

#top, #bottom, #left, #right 
{
  background: #706344;
}
#left, #right 
{
	position: fixed;
	top: 0; bottom: 0;
	width: 1%;
}

#left { left: 0; }
#right { right: 0; }
				
#top, #bottom 
{
	position: fixed;
	left: 0; right: 0;
	height: 2%;
}

#top { top: 0; }
#bottom { bottom: 0; }

body {
	padding: 5px 10px;
  padding-top: 3%;
  background-color:#FAFAFA;
}

div#container
{
	margin: 0 auto;
	width: 90%;
	background: #FAFAFA;
}


div#header {
	padding: 0.5% 0.5% 0.5% 0.5% ;
  float: left;
  width: 100%;
  overflow: auto;
  background: #704d44;
}

div#header h1 {
  margin: 0;
  color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
}

div#menu {
	padding: 0 0.5% 0 0.5% ;
	float: left;
	width: 100%;
	background: #f4f4f4;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
}

div#menu ul
{
	margin: 0;
	padding: 0;
}

div#menu ul li
{
	list-style-type: none;
	display: inline;
}

div#menu li a
{
	display: block;
	float: left;
	padding: 0.5% 0.5% 0.5% 0.5%;
	color: #000000;
	text-decoration: none;
	border-right: 1px solid #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}

div#menu li a:hover 
{ 
  background: #704d44;
  color: #FAFAFA
}


h2, h3, h4 {
    border-bottom: 1px solid #DDD;
}

h4 {
    margin-bottom: 0.25em;
}


ul {
    margin: 0;
}

div.meeting ul {
    margin-bottom: 1.5em;
}


div#content-container {
    width: 100%;
    float: left;
}

div#content {
	clear: left;
	float: left;
	width: 60%;
	padding: 2% 0;
	margin: 0 0 0 2%;
	display: inline;
  font-family: 'Open Sans', sans-serif;
}

div#menu {
    width: 100%;
    /** margin-left: 40px; **/
    float: left;
    /** font-size: 150%; **/
}

div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#menu ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#menu ul li a {
    color: #404040;
    font-weight: bold;
    text-decoration: none;
}

div#menu li.meetings a {
    display: block;
    float: left;
}

div#menu li.meetings a.feed {
    margin-left: 2px;
}

div#aside {
	float: right;
	width: 25%;
	padding: 2% 0;
	margin: 0 2% 0 0;
	display: inline;
  font-family: 'Open Sans', sans-serif;
}

#aside h3 { margin: 0; }

div#social {
  float: right;
  width: 25%;
	padding: 2% 0;
	margin: 0 2% 0 0;
	display: inline;
  font-family: 'Open Sans', sans-serif;   
}

#social h3 { margin: 0; }

div#footer {
	  clear: left;
    width: 90%;
    background: #704d44;
    margin: 0 auto;
    height: 1%;
    padding: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #FAFAFA;
}

#footer a { color: #FAFAFA; }

div.vevent {
    margin-bottom: 20px;
    border-left: 1px dotted #000;
    padding-left: 10px;
}

div.vevent abbr {
    border-bottom: none;
}

div.vevent p {
    margin-bottom: 0.25em;
}

div.vevent p.summary {
    border-bottom: 0;
}

div.vevent p.summary {
    font-size: 120%;
    font-weight: bold;
}

div.meeting h2 {
    margin-bottom: 0;
}

div.past_meeting, div.alert {
    background-color: #99FF99;
    width: 440px;
    padding: 10px;
    margin: 10px 0;
}

div.past_meeting h4, div.alert h4 {
    border: none;
}

div.past_meeting p:last-child {
    margin-bottom: 0;
}

/** 
    elsewhere renamed to aside and social - no longer needed - 10-21-2012
    
div.elsewhere h3 {
    border: 0;
} **/

div.twtr-widget h1,
div.twtr-widget h2,
div.twtr-widget h3,
div.twtr-widget h4,
div.twtr-widget h5 {
    border: 0;
}

#googlegroup {
    width: 220px;
    float: left;
    margin-left: 5px;
}

#googlegroup h4 {
    border-bottom: 0;
}
