<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Chicago GNU/Linux User Group : {% block title %}{% endblock %}</title>
  <meta name="description" content="Linux User Group of Chicago, Illinois." />
  <meta name="keywords" content="Chicago,LUG,Linux,User Group,Free Software,
  Open Source,Programming" />
  <link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Cantarell' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typography.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  <link href="{{ url_for('feed') }}" rel="alternate" title="ChicagoLUG Events" type="application/atom+xml">
  <link href="https://plus.google.com/110920643277848720575" rel="publisher" />
  <meta name="msvalidate.01" content="FA20DCFCAC4C21E483493F349265ABF4" />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-99509-3']);
  _gaq.push(['_setDomainName', 'chicagolug.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>

  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
    <div id="container">
        <div id="header">
            <h1>Chicago GNU/Linux User Group</h1>
        </div>
        
        <div id="menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('page', path='contact') }}">Contact</a></li>
                <li><a href="{{ url_for('locations') }}">Locations</a></li>
                <li><a href="{{ url_for('posts') }}">Blog</a></li>
                <li class="meetings">
                    <a href="{{ url_for('meetings') }}">Meetings</a>
                    <a class="feed" href="{{ url_for('feed') }}" title="ChicagoLUG Events Atom Feed">
                        <img src="{{ url_for('static', filename='images/atom.png') }}" alt="ChicagoLUG Events Atom Feed" />
                    </a>
                </li>
            </ul>
        </div>

        <div id="content-container">
          <div id="generic-content-container">
            {% block content %}{% endblock %}
          </div>
        </div>
    </div>
    
    <div id="footer">
        <p>Site powered by <a href="http://flask.pocoo.org">Flask</a> and 
        hosted on <a href="http://openshift.com">OpenShift</a>. Source code on 
        <a href="https://gitorious.org/chicagolug-org/chicagolug-flask">
        Gitorious</a>.</p>
        <p>
          <a href="http://www.oreilly.com">
          <img src="/static/images/ug_ad_250_camel.gif"
          alt="O'Reilly User Group image"
          style="padding:5px 2px 0px 2px;width:250px;height:60px;"/></a>
        </p>
    </div>

</body>
</html>
