{% extends "_layouts/base.html" %}

{% block head_title %}Locations{% endblock %}

{% block body %}
    <div class="span6">
        <h2>{{ location.locname }}</h2>
        <p>
            <strong>Address</strong>: {{ location.locaddress }} - (
            <a href="{{ location.locmap }}">map</a> )<br/>
            <strong>Website</strong>: <a href="{{ location.locurl }}">{{ location.locurl }}</a><br/>
            <strong>Notes</strong>: {{ location.locnotes }}
        </p>
        {{ location.content }}
    </div>
{% endblock %}
