{% extends "base.html" %}

{% block title %}Meeting : {{ meeting.title }}{% endblock %}

{% block content %}
    <div class="meeting">
        <h2>{{ meeting.title }}</h2>
        <p>
            <strong>Time and location</strong>: {{ 
            meeting.datetime|datetimeformat("%A %B %d, %Y, %H:%M")}} at
            <a href="{{ url_for('locations') }}">{{ meeting.venue 
            }}</a><br/>
            <strong>Speakers</strong>: {{ meeting.speaker }}
        </p>
        {{ meeting.content }}
    </div>
{% endblock %}
