{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div id="content-container">
    <div id="content">
    <h2>GNU/Linux + Free/Libre & Open Source Software + Fun</h2>
    <p>We are a group of technology and Free software enthusiasts who live in 
    and around Chicago, IL. While our group primarily focuses on GNU/Linux, our 
    members have a broad range of interests and experience, and our ranks 
    include users of all major (and less major) operating systems.</p>

    <h2>Upcoming Meetings</h2>

    <p>ChicagoLUG meetings and events usually take place at a local 
    technology cooperative or coffee shop, and we conveniently list all of our 
    <a href="{{ url_for('page', path='locations') }}">locations</a>. 
    Keep an eye on this site and our <a href="http://twitter.com/chicagolug">
    Twitter feed</a> for announcements.</p>

    {% for meeting in future_meeting_list %}
        {% include "includes/meeting.html" %}
    {% else %}
        <p>No meetings currently planned. <a href="{{ url_for('meetings') }}">
        Click here for past meetings.</a></p>
    {% endfor %}
    </div>
    <div id="aside">
		  	  <img src="static/images/chicagolug-logo.png" alt="ChicagoLUG logo" 
			    style="border:0;width:250px;height:250px;"/>
		      <h3>
		        Chicago Tux can hack . . . 
		      </h3>
		<div id="social">
			<h3>
				ChicagoLUG on Social Media
			</h3>
<a href="https://plus.google.com/110920643277848720575?prsrc=3" rel="publisher" 
style="text-decoration:none;"><img src="static/images/gplus-32.png" 
alt="Google+" style="border:0;width:32px;height:32px;"/></a>
<a href="https://twitter.com/chicagolug" style="text-decoration:none;">
<img src="static/images/twitter-32.png" alt="Twitter" 
style="border:0;width:32px;height:32px;"/></a>
<a href="https://identi.ca/chicagolug" style="text-decoration:none;">
<img src="static/images/identica-32.png" alt="Identi.ca" 
style="border:0;width:32px;height:32px;"/></a>
		</div>

<!---        <div id="googlegroup">
            <h3>Join our Google Group</h3>
            <img src="http://groups.google.com/intl/en/images/logos/groups_logo_sm.gif" height=30 width=140 alt="Google Groups">
            <h4>Subscribe to Brighton and Hove Python User Group</h4>
            <form action="http://groups.google.com/group/brightonpy/boxsubscribe">
                <p><label for="google_email">Email: </label><input id="google_email" type=text name=email /></p>
                <p><input type=submit name="sub" value="Subscribe" /></p>
            </form>
            <p><a href="http://groups.google.com/group/brightonpy">Visit this group</a></p>
        </div>
--->
    </div>
  </div>

{% endblock %}
